.estop_sidebar {
    width:100%;
    height:28px;
    background-image: repeating-linear-gradient(
        -45deg,
        #000,
        #000 4px,
        #ff0 4px,
        #ff0 8px
    );
    text-align: center;
    vertical-align: middle;
}
.btn-estop {
    width: 80%;
    height: 28px;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #eb0000;
    background-image: -moz-linear-gradient(top, #ff0000, #cc0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#cc0000));
    background-image: -webkit-linear-gradient(top, #ff0000, #cc0000);
    background-image: -o-linear-gradient(top, #ff0000, #cc0000);
    background-image: linear-gradient(to bottom, #ff0000, #cc0000);
    background-repeat: repeat-x;
    border-color: #cc0000 #cc0000 #800000;
    border-width: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ffcc0000', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    display: inline-block;
    padding: 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;   
}
.btn-estop:hover {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    background-color: #eb0000;
    background-image: -moz-linear-gradient(top, #dd0000, #cc0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd0000), to(#cc0000));
    background-image: -webkit-linear-gradient(top, #dd0000, #cc0000);
    background-image: -o-linear-gradient(top, #dd0000, #cc0000);
    background-image: linear-gradient(to bottom, #dd0000, #cc0000);
    background-repeat: repeat-x;
    border-color: #cc0000 #cc0000 #800000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ffcc0000', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-decoration: none;
    
}
.btn-estop:active {
    text-decoration: overline underline;
}
.btn-estop:disabled   {
    text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.0);
    color: #555;
    opacity: 0.8;
    cursor: not-allowed;
}