<h3>{{ _('E-Stop Settings') }}</h3>
<div>
    <p>Here you can change the command issued to your printer when you press the emergency stop button.</p>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Emergency STOP! Command') }}</label>
            <div class="controls">
                <input type="text" class="input-block" data-bind="value: settings.plugins.estop.estopCommand">
                <span class="help-block">Usually this is M112. Only change if you know what you're doing.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Cycle the connection?') }}</label>
            <div class="controls">
                <input type="checkbox" class="input-block" data-bind="checked: settings.plugins.estop.estopReconnect">
                <span class="help-block">Enabling this will attempt to automatically cycle the connection to the printer. This may cause the printer's control board to be reset and may help break out of blocking commands. Waits 3 seconds after the printer is "offline" before reconnecting.</span>
            </div>
        </div>
    </form>
</div>
