<div id="sidebar_estop_background" class="estop_sidebar" data-bind="css: estopState">
	<button type="button" id="emergemcy_stop" class="btn-estop" data-bind="attr: { title: buttonTitle }, text: buttonText, enable: enableEstop, click: function() { sendEstopCommand() }"></button>
</div>

